* {
    font-family: Arial, Helvetica, sans-serif;
}

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  #menubtn {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
  }